@import url("_google-colors.less");

/* Text variables */
@text-primary-color: @md-white;
@text-secondary-color: #004ba8;
@text-hint-color: #3e78b2;
@text-disabled-color: #4a525a;

/* Background-variables */
@background-color: #070707;
