@import "_variables.less";

html,
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;

  #app {
    position: relative;
    width: 100%;
    height: 100%;

    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @md-text-primary-color;

    nav {
      padding: 30px;

      a {
        font-weight: bold;
        color: @md-text-primary-color;

        &.router-link-exact-active {
          color: @md-text-hint-color;
        }
      }
    }
  }
}
